.textFont-demo {
    font-family: 'Lato', sans-serif;
    background-color: antiquewhite;
    color: black;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #34b717;
    display: flex;
    flex-direction: column;
}

.textFont-demo:hover {
    box-shadow: 5px 10px 20px 1px rgba(233, 220, 220, 0.25) !important;
}

.content-center {
    margin: auto;
    justify-content: center;

}

.row {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.row, .container {
    display: flex;
    background-color: transparent;
}

.container-card {
    bottom: 25px;

}

.row-cols-4 {
    display: flex;
    flex-wrap: wrap;

}

.col-md-4 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.3333%;
}


.top-margin {
    margin-top: 50px !important;
}

.video-box {
    border-radius: 50px !important;
    margin-right: 30px;
    width: 600px !important;
}

.title-project {
    font-family: 'Lato', sans-serif;
    color: black;
    text-decoration-color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.title-heading {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
    color: black;
}

.video-container {
    display: flex;
}

.paragraphText {
    padding-top: 30px;
    color: black;
    font-size: 13px;

}

.project-management {
    padding-bottom: 5px;
}

.project-management li {
    display: flex;

}

.project-management li::before {
    list-style: disc !important;
    content: "•";
    color: #b72417;
    width: 1em;


}

.project-management li::after {
    margin-right: 15px;
    margin-left: 15px;

}

.tools-div {

}

.container-bottom-project {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.go-back-projects {
    flex: 1 1 auto;

}

.arrow-back {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.arrow-back:hover {
    color: black;
}

.url-btn {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #b72417;
    background-color: antiquewhite;
    width: 220px;
    transition: width 2s;
    margin-top: 25px;

}

/*.url-btn:hover {*/
/*    background-color: #8f8f7e;*/
/*}*/

.go-back-project-text {
    font-size: 14px;
    padding-top: 1px;
}

.go-back-project-text:hover {
    color: black;
    text-decoration: underline;
}

.go-back-projects-link {
    text-decoration: none !important;
}

.url-links {
    margin-bottom: 8px;

}

.url1 {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #b72417;
    font-weight: bold;
    background-color: antiquewhite;
    width: 250px;


}

.url2 {
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    border: 2px solid #b72417;
    font-weight: bold;
    background-color: antiquewhite;

}

.url1:hover {
    background-color: #00BFFF;
}

.url2:hover {
    background-color: #00BFFF;
}

.url1 a {
    text-decoration: none;
}

.text-decoration-none {
    text-decoration: none;

}

.url-span {
    margin-left: 4px;
}

.react-player-fake {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.i-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .textFont-demo {
        font-family: 'Lato', sans-serif;
        background-color: antiquewhite;
        color: black;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px #34b717;
        display: flex;
        flex-direction: column;
    }

    .textFont-demo:hover {
        box-shadow: 5px 10px 20px 1px rgba(233, 220, 220, 0.25) !important;
    }


    .row, .container {
        display: flex;
        background-color: transparent;
    }

    .container-card {
        bottom: 10px;

    }

    .top-margin {
        margin-top: 50px !important;
    }

    .video-box {
        align-content: center !important;
        margin: auto;
        width: 300px !important;
        border-radius: 20px !important;
    }

    .title-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-top: 5px;
    }

    .title-heading {
        display: none;
    }

    .video-container {
        display: flex;
        flex-direction: column;

    }

    .paragraphText {
        padding-top: 30px;
        color: black;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .container-bottom-project {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .go-back-projects {
        flex: 1 1 auto;

    }

    .arrow-back {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    .arrow-back:hover {
        color: black;
    }

    .url-btn {
        padding: 6px;
        border-radius: 10px;
        border: 2px solid #b72417;
        background-color: antiquewhite;
        width: 250px;
        transition: width 2s;
        margin-top: 25px;

    }

    /*.url-btn:hover {*/
    /*    background-color: #8f8f7e;*/
    /*}*/
    .go-back-project-text {
        font-size: 14px;
        padding-top: 1px;
    }

    .go-back-project-text:hover {
        color: black;
        text-decoration: underline;
    }

    .go-back-projects-link {
        text-decoration: none !important;
    }

    .url-links {

        margin-top: 10px;
        margin-bottom: 3px;
        display: flex;
        justify-content: center;


    }

    .url1 {
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #b72417;
        font-weight: bold;
        background-color: antiquewhite;
        width: 250px;
        justify-content: center;


    }

    .url2 {
        padding: 10px;
        border-radius: 10px;
        width: 250px;
        border: 2px solid #b72417;
        font-weight: bold;
        background-color: antiquewhite;

    }

    .url1:hover {
        background-color: #00BFFF;
    }

    .url2:hover {
        background-color: #00BFFF;
    }

    .url1 a {
        text-decoration: none;
    }

    .text-decoration-none {
        text-decoration: none;

    }

    .url-span {
        margin-left: 1px;
    }

    .react-player-fake {
        display: none;
    }

    .i-frame {
        display: none;
    }

}
