.project-card {
    &.spotify {
        .card-title {
            color: red;
        }
    }

    .undefined {
        .card-title {
            color: pink;
        }
    }

    &.covid {
        .card-title {
            color: green;
        }

        .card-body {
            color: red;
        }
    }
}


.card-body {
    /*padding-bottom: 10rem;*/
    /*padding: 3rem 0;*/
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-start;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
}

.card-text-div {
    height: 20vh;
}

.card-text {
    font-size: .9rem;
    padding: 0.4rem 1.9rem;

}

.text-center {
    text-align: center !important;
    background-color: antiquewhite;
}


.card-img-top {
    transform: scale(1);
    transition: trasform 0.5s ease;
    border-radius: 10px;

}

.card-img-top:hover {
    transform: scale(1.03);
    border-radius: 10px;
}

.card-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Lato', sans-serif;
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
}

.container-card {
    box-shadow: 2px 2px 2px #34b717;
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
    height: 70vh;
}
.container-card:hover {
    box-shadow: 5px 10px 20px 1px rgba(233, 220, 220, 0.25) !important;
}

.container-card:hover {
    box-shadow: 5px 10px 20px 1px rgba(233, 220, 220, 0.25) !important;
}
.btn-project {
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #b72417;
    font-weight: bolder;
    margin-top: 30px;


}

.btn-project:hover {
    background-color: #00BFFF;
    transform: scale(1);
    transition: trasform 0.5s ease;
}




.go-to-the-project {
    margin-bottom: 3px;

}
.link-decoration {
    text-decoration: none;

}

.card-title {
    margin: 10px;
}


.card-title, .card-text, .button-div {
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .card-body {
        padding-bottom: 3rem;
        padding-right: 2rem;
        padding-top: 1rem;
        flex-direction: column;
        width: 320px;
        margin-bottom: 25px;
    }

    .button-div {
        margin-bottom: 5px;
        padding-bottom: 5rem;
    }
}


