
.nav-div-container {
    display: flex;
    padding-top: 15px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    /*box-shadow: 5px 10px 20px 1px rgba(29, 28, 28, 0.85) !important;*/
}

.nav-cv {
    position: relative;
    color: antiquewhite;
    font-weight: bolder;
    font-size: 24px;
    margin: 0;
    padding-bottom: 3px;

}


.nav-cv:hover {
    text-decoration: none;
    margin-bottom: 5px;
    top: -2px;
}

.spacer {
    flex-grow: 1;
}

.nav-div-title {
    margin-right: 40px;
    margin-left: 10px;
}
.spacer-title {
    width: 35px;
    overflow: auto;
}
.header-title {
    font-size: 34px;
    color: antiquewhite;
    background-color: transparent;
    font-weight: bold;

}
.header-title:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;

}



.nav-div a {
    color: chartreuse;
    text-decoration: none;
    display: inline-block;
    position: relative;

}
.nav-div a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: chartreuse;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-div a:hover:after {
    width: 100%;
    left: 0;
}
